<!-- WRAPPER -->
<div class="wrapper" id="SIform" style="display: none;">

  <!-- COMPONENTS -->
  <section class="module">

    <div class="container">

      <div class="row">

        <div class="col-sm-8 col-sm-offset-2">

          <h4 class="font-alt m-t-0 m-b-0">Basic Forms</h4>
          <hr class="divider-w m-t-10 m-b-20">

          <div class="form-group">
            <input class="form-control input-lg" type="text" placeholder="Large input">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Default input">
          </div>
          <div class="form-group">
            <input class="form-control input-sm" type="text" placeholder="Small input">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Disabled input" disabled>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Readonly input" readonly>
          </div>
          <textarea class="form-control" rows="7" placeholder="Textarea"></textarea>

        </div>

      </div>

    </div>

  </section>
</div>
