<!-- WRAPPER -->
<div class="wrapper">

  <!-- HOME -->
  <%= render partial: "leagues/dashboard_jumbotron", locals: {league: @league} %>

  <!-- /HOME -->
		<!-- PORTFOLIO -->
		<section class="module-small p-t-20 p-b-60">

			<div class="container">

				<!-- PORTFOLIO FILTER -->
				<div class="row">
					<div class="col-sm-12">

						<ul id="filters" class="filter font-inc hidden-xs">
							<li><a href="#" data-filter="*" class="current wow fadeInUp">All</a></li>
							<li><a href="#" data-filter=".illustration" class="wow fadeInUp" data-wow-delay="0.2s">PLACEHOLDER</a></li>
							<li><a href="#" data-filter=".marketing" class="wow fadeInUp" data-wow-delay="0.4s">PLACEHOLDER</a></li>
							<li><a href="#" data-filter=".photography" class="wow fadeInUp" data-wow-delay="0.6s">PLACEHOLDER</a></li>
							<li><a href="#" data-filter=".webdesign" class="wow fadeInUp" data-wow-delay="0.8s">PLACEHOLDER</a></li>
						</ul>

					</div>
				</div>
				<!-- /PORTFOLIO FILTER -->

				<!-- PORTFOLIO LIST -->
				<ul id="works-grid" class="works-grid works-grid-gut works-grid-3 works-hover-w">

					<!-- PORTFOLIO ITEM -->
					<li class="work-item illustration webdesign">
            <%= link_to new_manager_path do %>
							<div class="work-image">
								<img src="http://farm3.staticflickr.com/2074/3528486185_9cff974311_z.jpg" alt="">
							</div>
							<div class="work-caption">
								<h3 class="work-title font-alt">Add Managers</h3>
								<div class="work-descr font-inc">
									Add Managers to this league
								</div>
							</div>
						<% end %>
					</li>
					<!-- /PORTFOLIO ITEM -->

					<!-- PORTFOLIO ITEM -->
					<li class="work-item marketing photography">
						<a href="portfolio-single-1.html">
							<div class="work-image">
								<img src="http://farm3.staticflickr.com/2074/3528486185_9cff974311_z.jpg" alt="">
							</div>
							<div class="work-caption">
								<h3 class="work-title font-alt">Placeholder</h3>
								<div class="work-descr font-inc">
									Placeholder
								</div>
							</div>
						</a>
					</li>
					<!-- /PORTFOLIO ITEM -->

					<!-- PORTFOLIO ITEM -->
					<li class="work-item illustration photography">
						<a href="portfolio-single-1.html">
							<div class="work-image">
								<img src="http://farm3.staticflickr.com/2074/3528486185_9cff974311_z.jpg" alt="">
							</div>
							<div class="work-caption">
								<h3 class="work-title font-alt">Placeholder</h3>
								<div class="work-descr font-inc">
									Placeholder
								</div>
							</div>
						</a>
					</li>
					<!-- /PORTFOLIO ITEM -->

					<!-- PORTFOLIO ITEM -->
					<li class="work-item marketing photography">
						<a href="portfolio-single-1.html">
							<div class="work-image">
								<img src="http://farm3.staticflickr.com/2074/3528486185_9cff974311_z.jpg" alt="">
							</div>
							<div class="work-caption">
								<h3 class="work-title font-alt">Placeholder</h3>
								<div class="work-descr font-inc">
									Placeholder
								</div>
							</div>
						</a>
					</li>
					<!-- /PORTFOLIO ITEM -->

					<!-- PORTFOLIO ITEM -->
					<li class="work-item illustration webdesign">
						<a href="portfolio-single-1.html">
							<div class="work-image">
								<img src="http://farm3.staticflickr.com/2074/3528486185_9cff974311_z.jpg" alt="">
							</div>
							<div class="work-caption">
								<h3 class="work-title font-alt">Placeholder</h3>
								<div class="work-descr font-inc">
									Placeholder
								</div>
							</div>
						</a>
					</li>
					<!-- /PORTFOLIO ITEM -->

					<!-- PORTFOLIO ITEM -->
					<li class="work-item marketing webdesign">
						<a href="portfolio-single-1.html">
							<div class="work-image">
								<img src="http://farm3.staticflickr.com/2074/3528486185_9cff974311_z.jpg" alt="">
							</div>
							<div class="work-caption">
								<h3 class="work-title font-alt">Placeholder</h3>
								<div class="work-descr font-inc">
									Placeholder
								</div>
							</div>
						</a>
					</li>
					<!-- /PORTFOLIO ITEM -->

					<!-- PORTFOLIO ITEM -->
					<li class="work-item marketing webdesign">
						<a href="portfolio-single-1.html">
							<div class="work-image">
								<img src="http://farm3.staticflickr.com/2074/3528486185_9cff974311_z.jpg" alt="">
							</div>
							<div class="work-caption">
								<h3 class="work-title font-alt">Placeholder</h3>
								<div class="work-descr font-inc">
									Placeholder
								</div>
							</div>
						</a>
					</li>
					<!-- /PORTFOLIO ITEM -->

					<!-- PORTFOLIO ITEM -->
					<li class="work-item marketing webdesign">
						<a href="portfolio-single-1.html">
							<div class="work-image">
								<img src="http://farm3.staticflickr.com/2074/3528486185_9cff974311_z.jpg" alt="">
							</div>
							<div class="work-caption">
								<h3 class="work-title font-alt">Placeholder</h3>
								<div class="work-descr font-inc">
									Placeholder
								</div>
							</div>
						</a>
					</li>
					<!-- /PORTFOLIO ITEM -->

					<!-- PORTFOLIO ITEM -->
					<li class="work-item marketing webdesign">
						<a href="portfolio-single-1.html">
							<div class="work-image">
								<img src="http://farm3.staticflickr.com/2074/3528486185_9cff974311_z.jpg" alt="">
							</div>
							<div class="work-caption">
								<h3 class="work-title font-alt">Placeholder</h3>
								<div class="work-descr font-inc">
									Placeholder
								</div>
							</div>
						</a>
					</li>
					<!-- /PORTFOLIO ITEM -->

				</ul>
				<!-- /PORTFOLIO LIST -->

			</div>

		</section>
		<!-- /PORTFOLIO -->

		<!-- PAGINATION -->
		<section class="module-small p-t-0">

			<div class="container">

				<div class="pagination font-inc text-uppercase">

					<a href="#"><i class="fa fa-angle-left"></i> Prev</a>
					<a href="#">Next <i class="fa fa-angle-right"></i></a>

				</div>

			</div>

		</section>
		<!-- /PAGINATION -->

		<!-- DIVIDER -->
		<hr class="divider-w">
		<!-- /DIVIDER -->

		<!-- CONTACT -->
		<section class="module-small">

			<div class="container">

				<div class="row" id="New_League_Row">

					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<span class="icon-map-pin"></span>
							</div>
							<div class="content-box-title font-inc">
								007 Steet, City, USA
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<span class="icon-phone"></span>
							</div>
							<div class="content-box-title font-inc">
								+1 234 567 89 00
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<span class="icon-envelope"></span>
							</div>
							<div class="content-box-title font-inc">
								semantic@email.com
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

				</div>

			</div>

		</section>
		<!-- /CONTACT -->

		<!-- FOOTER -->

    <%= render "layouts/footer" %>
		<!-- /FOOTER -->
