<%= @commissioner.leagues.first.name %> Commissioner message from <%= @commissioner.name %>:
<br>

<%= @content %>

...
Sent from Commissioner Dashboard
<br>
<a href="comissioner-dashboard.herokuapp.com">Commissioner Dashboard</a>
