Hi <%= @manager.name %>!
<br><br>
<%= @commissioner.name %> has added you to the league named <%= @manager.league.name %> on Commissioner Dashboard.
<br>
<br>
<br>
<br>
Sincerely,<br>

<a href="comissioner-dashboard.herokuapp.com">Commissioner Dashboard</a> 
