  <div class="container">

    <!-- PORTFOLIO FILTER -->
    <div class="row">
      <div class="col-sm-12">

        <ul id="filters" class="filter font-inc hidden-xs">
          <li><%= link_to 'Add Managers', new_league_manager_path(@league), remote: true %></li>
          <li><%= link_to 'Manager Dues', league_finances_path(@league), remote: true %></li>
          <li><%= link_to 'Back', league_back_path(@league), remote: true %></li>
        </ul>

      </div>
    </div>
  <div class="container">

    <div class="row">

      <div class="col-sm-6" id="main-panel">


     <%= render partial: "managers/managers" %>
        </div>

      </div>

      <div class="col-sm-6" id="side-panel">

    </div>

  </div>

</section>
