$("#main-panel").html("")
$("#main-panel").append("<%= j render :partial => 'managers/managers' %>").hide().fadeIn()
$("#side-panel").html("")
$("#side-panel").append("<div class=well well-sm'><strong>Delete Successful</div>")
