<!-- WRAPPER -->
<div class="wrapper">

  <!-- HOME -->
  <%= render partial: "leagues/dashboard_jumbotron", locals: {league: @league} %>
   <!-- /HOME -->
   <!-- PORTFOLIO DESCRIPTION -->
   <%= render "layouts/messages" %>
   <section class="module-small">

     <div class="container">

       <div class="row">

         <div class="col-sm-6" id="main-panel">


        <%= render partial: "managers/managers" %>
           </div>

         </div>

         <div class="col-sm-6" id="side-panel">

       </div>

     </div>

   </section>
