<section class="module-hero module-parallax module-fade module-full-height bg-dark-30" data-background="http://images.123hdwallpapers.com/20150517/sports-wallpaper-american-football-1024x768.jpg">

  <div class="hs-caption container" id="home">
    <div class="caption-content">
      <div class="hs-title-size-4 font-alt m-b-30">

Welcome to Commissioner Dashboard
<div class="hs-title-size-1 font-inc">
EST 2016
<div>
<br>
<a class="btn btn-g btn-circle btn-lg" id="Sign-Up" href="#"></i>Sign-Up</a>
<a class="btn btn-g btn-circle btn-lg" id="Log-In" href="#"></i>Log-In</a>

</div>
</div>
</div>
</div>

</div>
<%= render partial: "commissioners/form", locals: {commmissioner: @commissioner} %>
<%= render "sessions/new" %>
</section >
