  <div class="caption-content">
    <div class="hs-title-size-4 font-alt m-b-30">
          Welcome to Commissioner Dashboard
            <div class="hs-title-size-1 font-inc">
                    EST 2016
            </div>
          <%= link_to 'Sign-Up', signup_path, class: "btn btn-g btn-circle btn-lg", remote: true %>
          <%= link_to 'Log-In', login_path, class: "btn btn-g btn-circle btn-lg", remote: true %>
    </div>
  </div>
