<section id="home" class="module-hero module-parallax module-fade bg-dark-30" data-background="http://justinnazari.com/Background3.jpg">

  <div class="hs-caption container" id="home">
    <div class="caption-content">
      <div class="hs-title-size-4 font-alt m-b-30">
        Welcome to Commissioner Dashboard
      </div>
      <div class="hs-title-size-1 font-inc">
        EST 2016
        <div>
        <br>
        <a class="btn btn-border-d btn-circle btn-lg" id="Sign-Up" href="#"></i>Sign-Up</a>
        <a class="btn btn-border-d btn-circle btn-lg" id="Log-In" href="#"></i>Log-In</a>
      </div>
    </div>
  </div>

  <!-- Youtube player start-->
  <div class="video-player" data-property="{videoURL:'https://www.youtube.com/watch?v=UPAr2cSUcFw', containment:'.module-hero', startAt:0, mute:false, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
  <!-- Youtube player end -->

  <!-- Youtube controls start-->
  <div class="video-controls-box">
    <div class="container">
      <div class="video-controls">
        <a id="video-volume" class="fa fa-volume-up" href="#">&nbsp;</a>
        <a id="video-play" class="fa fa-pause" href="#">&nbsp;</a>
      </div>
    </div>
  </div>
  <!-- Youtube controls end -->

</section >
