<div class="work-details">
  <h2 class="work-details-title font-alt">Text Non-Payers %></h2>
  <%= form_tag send_text_path(@manager), {remote: true} do %>
   <div class="form-group">
     <%= text_area_tag :message, nil, class: "form-control input-lg", placeholder: "Message", rows: 10  %>
   </div>
     <%= submit_tag "Send Text", class: "btn btn-d btn-circle btn-lg", remote: true %>
   <% end %>
   </div>
