<!-- WRAPPER -->
<div class="wrapper">

  <!-- HOME -->
  <section class="module module-header bg-dark bg-dark-50" data-background="http://images.123hdwallpapers.com/20150517/sports-wallpaper-american-football-1024x768.jpg">

    <div class="container">

      <!-- MODULE TITLE -->
      <div class="row">

        <div class="col-sm-6 col-sm-offset-3">

          <h1 class="module-title font-alt align-center">user_name's DASHBOARD </h1>
          <!-- QUOTE OF THE DAY

          <div class="module-subtitle font-inc align-center">
            QUOTE OF THE DAY
          </div> -->

        </div>

      </div>
      <!-- /MODULE TITLE -->

    </div>

  </section >
  <!-- /HOME -->

  <!-- PORTFOLIO -->
  <section class="module-small p-t-20 p-b-60">

    <div class="container">

      <!-- PORTFOLIO FILTER -->
      <div class="row">
        <div class="col-sm-12">

          <ul id="filters" class="filter font-inc hidden-xs">
            <li><a href="#" data-filter="*" class="current wow fadeInUp">All</a></li>
            <li><a href="#" data-filter=".illustration" class="wow fadeInUp" data-wow-delay="0.2s">PLACEHOLDER</a></li>
            <li><a href="#" data-filter=".marketing" class="wow fadeInUp" data-wow-delay="0.4s">PLACEHOLDER</a></li>
            <li><a href="#" data-filter=".photography" class="wow fadeInUp" data-wow-delay="0.6s">PLACEHOLDER</a></li>
            <li><a href="#" data-filter=".webdesign" class="wow fadeInUp" data-wow-delay="0.8s">PLACEHOLDER</a></li>
          </ul>

        </div>
      </div>
      <!-- /PORTFOLIO FILTER -->

    </div>

    <!-- PORTFOLIO LIST -->
    <ul id="works-grid" class="works-grid works-grid-gut works-grid-2 works-hover-w">

      <!-- PORTFOLIO ITEM -->
      <li class="work-item illustration webdesign">
        <a href="portfolio-single-1.html">
          <div class="work-image">
            <img src="http://farm3.staticflickr.com/2074/3528486185_9cff974311_z.jpg" alt="">
          </div>
          <div class="work-caption">
            <h3 class="work-title font-alt">League Dues</h3>
            <div class="work-descr font-inc">
              See who's paid, and shame those that haven't yet!
            </div>
          </div>
        </a>
      </li>
      <!-- /PORTFOLIO ITEM -->

      <!-- PORTFOLIO ITEM -->
      <li class="work-item marketing photography">
        <a href="portfolio-single-1.html">
          <div class="work-image">
            <img src="http://farm3.staticflickr.com/2074/3528486185_9cff974311_z.jpg" alt="">
          </div>
          <div class="work-caption">
            <h3 class="work-title font-alt">Email League</h3>
            <div class="work-descr font-inc">
              Write a commissioner email to everyone in your league
            </div>
          </div>
        </a>
      </li>
      <!-- /PORTFOLIO ITEM -->

      <!-- PORTFOLIO ITEM -->
      <li class="work-item illustration photography">
        <a href="portfolio-single-1.html">
          <div class="work-image">
            <img src="http://farm3.staticflickr.com/2074/3528486185_9cff974311_z.jpg" alt="">
          </div>
          <div class="work-caption">
            <h3 class="work-title font-alt">Poll</h3>
            <div class="work-descr font-inc">
              Poll your whole league and view the results
            </div>
          </div>
        </a>
      </li>
      <!-- /PORTFOLIO ITEM -->

      <!-- PORTFOLIO ITEM -->
      <li class="work-item marketing photography">
        <a href="portfolio-single-1.html">
          <div class="work-image">
            <img src="http://farm3.staticflickr.com/2074/3528486185_9cff974311_z.jpg" alt="">
          </div>
          <div class="work-caption">
            <h3 class="work-title font-alt">Draft</h3>
            <div class="work-descr font-inc">
              Schedule your draft, and send reminders
            </div>
          </div>
        </a>
      </li>
      <!-- /PORTFOLIO ITEM -->

      <!-- PORTFOLIO ITEM -->
      <li class="work-item illustration webdesign">
        <a href="portfolio-single-1.html">
          <div class="work-image">
            <img src="http://farm3.staticflickr.com/2074/3528486185_9cff974311_z.jpg" alt="">
          </div>
          <div class="work-caption">
            <h3 class="work-title font-alt">Viewing Parties</h3>
            <div class="work-descr font-inc">
              Organize viewing parties
            </div>
          </div>
        </a>
      </li>
      <!-- /PORTFOLIO ITEM -->

      <!-- PORTFOLIO ITEM -->
      <li class="work-item marketing webdesign">
        <a href="portfolio-single-1.html">
          <div class="work-image">
            <img src="http://farm3.staticflickr.com/2074/3528486185_9cff974311_z.jpg" alt="">
          </div>
          <div class="work-caption">
            <h3 class="work-title font-alt">Something else</h3>
            <div class="work-descr font-inc">
              Something here
            </div>
          </div>
        </a>
      </li>
      <!-- /PORTFOLIO ITEM -->

    </ul>
    <!-- /PORTFOLIO LIST -->

  </section>
  <!-- /PORTFOLIO -->

  <!-- DIVIDER -->
  <hr class="divider-w">
  <!-- /DIVIDER -->


  <!-- FOOTER -->
  <footer class="footer">

    <div class="container">

      <div class="row">

        <div class="col-sm-12 text-center">
          <p class="copyright font-inc m-b-0">Made with ♡ at the Flatiron School, New York, NY</p>
        </div>

      </div>

    </div>

  </footer>
  <!-- /FOOTER -->

</div>
<!-- /WRAPPER -->

<!-- Scroll-up -->
<div class="scroll-up">
  <a href="#totop"><i class="fa fa-angle-double-up"></i></a>
</div>
