<!-- WRAPPER -->
<div class="wrapper">

  <!-- HOME -->
  <section class="module module-header bg-dark bg-dark-50" data-background="http://images.123hdwallpapers.com/20150517/sports-wallpaper-american-football-1024x768.jpg">

    <div class="container">

      <!-- MODULE TITLE -->
      <div class="row">

        <div class="col-sm-6 col-sm-offset-3">

          <h1 class="module-title font-alt align-center"><%= current_user.name.upcase %>'s ACCOUNT PAGE </h1>
          <!-- QUOTE OF THE DAY

          <div class="module-subtitle font-inc align-center">
            QUOTE OF THE DAY
          </div> -->

        </div>

      </div>
      <!-- /MODULE TITLE -->

    </div>

  </section >
  <!-- /HOME -->

  <!-- PORTFOLIO -->
  <section class="module-small p-t-20 p-b-60">

    <div class="container">

      <!-- PORTFOLIO FILTER -->
      <div class="row">
        <div class="col-sm-12">

        </div>
      </div>
      <!-- /PORTFOLIO FILTER -->

    </div>

    <div class="module-title font-alt align-center">
        <%= current_user.email %><br>
        <%= current_user.phone_number %><br>
    <div><br>
    <div class="btn btn-g btn-circle btn-lg">
        <%= link_to "EDIT ACCOUNT", edit_commissioner_path(@commissioner) %>
    </div>

    <!-- PORTFOLIO LIST -->


    <!-- /PORTFOLIO LIST -->

  </section>
  <!-- /PORTFOLIO -->

  <!-- DIVIDER -->
  <hr class="divider-w">
  <!-- /DIVIDER -->


  <!-- FOOTER -->
  <footer class="footer">

    <div class="container">

      <div class="row">

        <div class="col-sm-12 text-center">
          <p class="copyright font-inc m-b-0">Made with ♡ at the Flatiron School, New York, NY</p>
        </div>

      </div>

    </div>

  </footer>
  <!-- /FOOTER -->

</div>
<!-- /WRAPPER -->

<!-- Scroll-up -->
<div class="scroll-up">
  <a href="#totop"><i class="fa fa-angle-double-up"></i></a>
</div>
