<div class="wrapper">
  <%= render partial: "leagues/dashboard_jumbotron", locals: {league: @league} %>
   <%= render "layouts/messages" %>
   <section class="module-small">
     <div class="container">
       <div class="row">
         <div class="col-sm-6">
           <div class="work-details">
             <h2 class="work-details-title font-alt">Schedule Draft</h2>
             <table id='calendar'>
              <tr>
                <th>Sunday|</th><th>Monday|</th>
                <th>Tuesday|</th><th>Wednesday|</th>
                <th>Thursday|</th><th>Friday|</th>
                <th>Saturday|</th>
               </tr>
               <tr>
               <h3>June</h3>
               <% @beginning_of_month = Date.civil(2016, 06, 1) %>
               <% @end_of_month = Date.civil(2016, 06, -1) %>

               <% (@beginning_of_month..@end_of_month).each do |d| %>
                 <% if d == @beginning_of_month %>
                   <% d.wday.times do %> <td class='offset'></td> <% end %>
                 <% end %>
                 <% if d.wday == 0 %> </tr><tr> <% end %>
                 <td> <%= d.day %> </td>
               <% end %>
               </tr>
             </table>
           </div>
         </div>
     </div>

   </section>
